# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore VS Code settings folder
.vscode/

# Ignore Bin directory
bin

# Ignore DS_Store files (macOS)
.DS_Store